.nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--title-color);
  font-weight: bold;
  border-bottom: 1px solid var(--grey);
}
.logoAndNameContainer {
  margin: 20px;
  display: block;
  height: 50px;
}
.logoAndNameContainer img {
  height: 100%;
  width: auto;
}
.spacer {
  flex: 1;
}

.menuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}
.menuItem {
  height: 50px;
  padding: 0 10px;
  margin: 20px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 4px 0;
  border-style: solid;
  border-color: transparent;
}
.menuItem:-webkit-any-link {
  /* do not add this selector at the start of a list of rules because firefox will stop at the first webkit rule */
  color: var(--text-color);
}
.menuItem:visited, .menuItem:link {
  color: var(--text-color);
}

.menuItem:hover:not(.focusedMenu), .currentMenu {
  border-bottom: 4px solid var(--primary);
}

.navMenuIcon {
  display: none;
}

@media (max-width: 750px) {
  .nav {
    flex-wrap: wrap;
  }
  .logoAndNameContainer {
    margin: 25px 20px 15px 20px;
    padding: 0;
    height: 40px;
  }
  .logoAndNameContainer img{
    height: 100%;
    width: auto;
  }
  .navMenuIcon {
    display: block;
    padding: 5px 20px;
    margin: 0;
  }
  .menuItems.folded {
    display: none;
  }
  .menuItems.unfolded {
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .menuItem {
    height: auto;
    padding: 0;
    margin: 0 10px;
  }
}

.menuOpener {
  cursor: pointer;
  position: relative;
  user-select: none;
}
.hidden {
  display: none;
}
.menuOpener .focusedMenu {
  background-color: var(--background-color);
  color: var(--text-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.subMenu {
  display: block;
  position: absolute;
  background-color: var(--background-color);
  color: var(--text-color);
  right: 10px;
  top: calc(100% - 10px);
  padding: 10px;
  width: 290px;
  border-radius: 5px;
  border-top-right-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor:default;
}
.foldspacer {
  background-color: var(--background-color);;
  position: absolute;
  top: calc(100% - 20px);
  right: 10px;
  height: 10px;
  width: calc(100% - 20px);
}

.subMenuItem {
  display: block;
  padding: 5px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
.subMenuItem:hover {
  background-color: var(--background-color);
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

@media (max-width: 750px) {
  .foldspacer {
    height: 0;
  }
  .subMenu {
    top: 100%;
  }
}
