.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -0%;
  transform: translate(-50%, 0);
  max-height: calc(100% - 140px);
  width: 800px;
  max-width: calc(100% - 40px);
  border: 2px solid var(--grey300);;
  background: var(--background-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.modalContent {
  text-align: center;
  padding: 30px 20px;
  width: 100%;
}
.modalDefaultButton {
  background: none;
  border: none;
  background-color: var(--primary);
  color: white;
  border-radius: 100px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.modalDefaultButton:hover {
  text-decoration: underline;
}

.activityForm {
  text-align: left;
  align-self: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.activityForm input {
  margin-right: 10px;
}
.choiceContainer, .choiceContainer input, .choiceContainer label {
  cursor: pointer;
}
.choiceContainer {
  margin-bottom: 5px
}
.choiceContainer input[type="radio"] {
  display: none;
}
.choiceContainer label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 22px;
  user-select: none;
}
.choiceContainer label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background: transparent;
}
.choiceContainer input[type="radio"]:checked + label::before {
  background: var(--primary);
  border-color: var(--primary);
}

@media (max-width: 750px) {
  .modal {
    top: 60px;
    max-height: calc(100% - 80px);
    padding: 10px;
  }
  .modalContent {
    padding: 10px 10px;
  }
}
