.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -0%;
  transform: translate(-50%, 0);
  max-height: calc(100% - 140px);
  border: 2px solid var(--grey300);
  background: var(--background-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.modalContent {
  text-align: center;
  padding: 30px 30px;
  width: 100%;
}
.link {
  display: block;
  color: var(--primary);
  text-decoration: none;
  margin: 10px 0;
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}


@media (max-width: 750px) {
  .modal {
    top: 60px;
    max-height: calc(100% - 80px);
    padding: 10px;
  }
  .modalContent {
    padding: 10px 10px;
  }
}
