.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -0%;
  transform: translate(-50%, 0);
  max-height: calc(100% - 140px);
  border: 2px solid rgb(44, 83, 132);
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.modalContent {
  text-align: center;
  padding: 30px 30px;
  width: 100%;
}
.photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 30px auto 5px auto;
}
.link {
  display: block;
  color: rgb(0,171,169);
  text-decoration: none;
  margin: 10px 0;
}
.link:hover {
  text-decoration: underline;
}
.closeButton {
  background: none!important;
  border: none;
  padding: 0!important;
  color: rgb(44, 83, 132);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
}


@media (max-width: 750px) {
  .modal {
    top: 60px;
    max-height: calc(100% - 80px);
    padding: 10px;
  }
  .modalContent {
    padding: 10px 10px;
  }
}


.modalDefaultButton {
background: none;
  border: none;
  background-color: rgb(0,171, 169);
  color: white;
  border-radius: 5px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.modalDefaultButton:hover {
  text-decoration: underline;
}
