.content {
  max-width: 900px;
  margin: auto;
  padding: 20px 20px 50px 20px;
}
.content a:not(.buttonLink), .content .backArrow {
  color: var(--primary);
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.image img {
  border-radius: 12px;
  height: auto;
}

.article {
  margin: 20px 0 50px 0;
}
.article h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}
.articleSummary {
  margin-bottom: 30px;
  font-size: 1.4em;
  color: var(--primary);
}

.article h2 {
  font-size: 1.8em;
  margin: 50px 0 20px 0;
}
.article h3 {
  font-size: 1.3em;
  margin: 20px 0 10px 0;
}
.article p {
  margin-bottom: 10px;
}

.figure {
  margin: 20px 0 30px 0;
}
.figure figcaption {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.pwdCrackTable {
  overflow-x: auto;
}
.pwdCrackTable table {
  min-width: 800px;
  border-collapse:separate;
}
.pwdCrackTable th {
  font-size: 0.9em;
  background-color: var(--text-color-alt);
  color: white;
  padding: 3px 7px;
}
.timeCell {
  text-align: center;
  padding: 3px;
  color: white;
}

.pwdCrackTable thead tr:first-of-type th:first-of-type {
  border-top-left-radius: 15px;
}
.pwdCrackTable thead tr:first-of-type th:last-of-type {
  border-top-right-radius: 15px;
}
.pwdCrackTable tbody tr:last-of-type th:last-of-type {
  border-bottom-left-radius: 15px;
}
.pwdCrackTable tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 15px;
}

.techNote {
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(245,245,245);
}

.articleImg {
  border-radius: 12px;
}

.blockquote {
  font-style: italic;
  margin: 20px 40px;
  display: flex;

}

.blockquote::before {
  content: "\"";
  color: var(--primary);
  font-size: 100px;
  line-height: 1px;
  display: block;
  position: relative;
  top: 30px;
  width: 70px;
  flex-shrink: 0;
  flex-grow: 0;
}

.ul {
  margin-bottom: 20px;
}

.cite {
  display: block;
  margin-bottom: 20px;
}
