html {
  background: rgb(44, 83, 132);
}

body {
  color: rgb(44, 83, 132);
  font-family: Arial;
}

details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}

main {
  max-width: 900px;
  margin: auto;
}
