.content {
  max-width: 900px;
  margin: auto;
  padding: 20px 20px 50px 20px;

}
.content h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}
.content p {
  margin-bottom: 10px;
}

.buttonLink {
  display: inline-block;
  background-image: linear-gradient(0deg, rgb(12, 95, 94), rgb(0, 171, 169));
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  z-index: 10;
  position: relative;
}

.content a:not(.buttonLink), .content .backArrow {
  color: rgb(0, 171, 169);
}

.ul {
  margin-bottom: 20px;
}
