.content {
  max-width: 900px;
  margin: auto;
  padding: 20px 20px 50px 20px;
}
.content h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}

.segmentNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2px;
  column-gap: 2px;
}
.segmentNav .currentTab, .segmentNav .otherTab {
  padding: 5px 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid rgb(44, 83, 132);
  cursor: pointer;
  text-decoration: none;
}

.currentTab {
  background-color: rgb(44, 83, 132);
  color: white;
  font-weight: bold;
}
.otherTab {
  color: rgb(44, 83, 132);
}
.otherTab:hover {
  color: rgb(0,38,75);
  border-color: rgb(0,38,75);
  border-width: 3px;
  padding: 4px 9px;
}
