.contentBackground {
  background-image: linear-gradient(0deg, transparent, var(--quinternary15));
}
.content {
  max-width: 900px;
  margin: auto;
  padding: 20px 20px 50px 20px;
}

.content h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}

.segmentNav {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  border-radius: 100px;
  background-color: white;
  padding: 10px;
}
.segmentNav .currentTab, .segmentNav .otherTab {
  padding: 5px 10px;
  flex-shrink: 0;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--tab-background);
  color: var(--text-color-alt);
  font-weight: bold;
}
.segmentNav .currentTab {
  background-color: var(--text-color-alt);
  color: white;
}
