.platform_support {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}
.platform_support > div {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.platform_support > div:last-child {
  margin-right: 0px;
}
.platform_support > div svg {
  margin-right: 5px;
}
