.platforms_support {
  margin: 5px;
  padding: 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100px;
}
.platforms_support.inline {
  flex-direction: row;
  width: auto;
}
.platform_support {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  flex-shrink:0;
}
.platform_support:last-child {
  margin-right: 0px;
}
.platform_support svg {
  flex-shrink: 0;
  margin-right: 5px;
}

@media(max-width: 500px) {
  .platforms_support {
    flex-direction: row;
    width:auto;
  }
}
