.feature_section {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  color:var(--text-color);
}
.feature_section .feature_title {
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.feature_section .feature_title h2 {
  flex: 1;
}
.feature_section .feature_title span, .feature_section .feature_title h2 {
  font-size: 24px;
  line-height: 1.2em;
}
.toggle_button {
  background-color: var(--text-color);
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.feature_tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 0;
  margin-left: 50px;
}

.p {
  margin-bottom: 10px;
}

.feature_section_compact_summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feature_img {
  width: auto;
  height: auto;
  min-width: 200px;
  margin: 0;
}

@media (max-width: 750px) {
  .feature_section {
    padding: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width: 575px) {
  .feature_tags {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
}
@media(max-width: 445px) {
  .feature_section_compact_summary {
    flex-direction: column;
  }
  .feature_tags {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }
}

/* AUTOFILL */
.autofill_block {
  margin-top: 20px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
}
.autofill_block_desktop .feature_img {
  margin: auto;
}
.autofill_block .feature_img {
  min-width: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  margin: 16px auto;
}
.autofill_block_title {
  font-weight: bold;
  text-align: center;
}

.autofill_block_container_folded {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}
@media(max-width: 500px) {
  .autofill_block_container_folded {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.autofill_block_container_folded .autofill_block {
  margin-top: 0;
  padding: 0 10px;
}

.autofill_block_container_unfolded .autofill_block {
  width: auto;
}
.autofill_block_container_unfolded .autofill_block_title {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgrey;
}
