.page {
  background-color: var(--quinternary15);
}
.content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.content h1 {
  font-size: 2em;
  text-align: center;
}

.feature_family_title {
  font-size: 25px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  border: 3px solid var(--text-color);
}

.link {
  color: var(--primary);
}


.supervision_general_intro {
  margin-bottom: 20px;
}
@media (max-width: 550) {
  .content {
    padding: 10px;
  }
  .feature_family_title {
    margin-bottom: 10px;
  }
  .supervision_general_intro {
    margin-bottom: 10px;
  }
}

.actionContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.otherActionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  justify-content: center;
}
.contactAction {
  border: none;
  border-radius: 100px;
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
}
.contactAction:hover{
  background-color: var(--quinternary);
  text-decoration: none;
}


.otherAction {
  margin-top: 10px;
  background: none;
  border: 1px solid var(--primary);
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}
.otherAction:hover {
  text-decoration: none;
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}



/* DEMO SECTION */
.demoVideo {
  width: 100%;
  max-width: 800px;
  margin: 30px 0;
}
.demoSection {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.demoTitle {
  margin: 50px auto 0px auto;
}
.demoSectionContent {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
