.pro_perso_tag_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
}

.pro_perso_tag_container > div {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
.pro_perso_tag_container > div:last-child {
  margin-right: 0px;
}
.pro_perso_tag_container > div svg {
  flex-shrink: 0;
  margin-right: 5px;
}

.pro_tag,
.perso_tag {
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 10px;
}
.pro_tag:last-of-type,
.perso_tag:last-of-type {
  margin-right: 0px;
}
.pro_tag {
  background-color: rgb(246, 164, 0);
}
.perso_tag {
  background-color: rgb(44, 83, 132);
}
