.tech_focus {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--primary);
}
.tech_focus:hover {
  text-decoration: underline;
}

.tech_focus svg {
  margin-right: 10px;
  flex-shrink: 0;
}
