.footer {
  background-color: var(--tertiary);
  color: white;
}
.footer h1 {
  margin-top: 30px;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}
.footerSections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 40px;
}
.footerSection {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socialLink {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.copyright {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.contactUsBtn {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 0;
  cursor: pointer;
}
.contactUsBtn:hover {
  text-decoration: underline;
}
@media (max-width:950px) {
  .subsectionTitle {
    margin-top: 10px;
  }
  .footer h1 {
    margin-top: 10px;
  }
  .footerSections {
    column-gap: 20px;
  }
}

@media (max-width:500px) {
  .footerSection {
    flex-wrap: wrap;
    flex-shrink: 1;
  }
  .footerSections {
    column-gap: 0px;
  }
  .footer h1 {
    font-size: 1.2em;
  }
  .footer {
    font-size: 0.8em;
  }
}
