.advantagesBackground{
  background-color: var(--tertiary);
}
.greenBackground {
  background-color: var(--quaternary);
}

/* HERO BANNER */
.heroBanner {
  padding: 50px 0 0px 0;
}

.heroBannerContainer {
  background-image: linear-gradient(180deg,#7096ff1a 50%,#7096ff26 75%,#7096ff33);
  border-bottom-left-radius: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  padding: 60px 40px;
  max-width: 80rem;
  margin: auto;
}

.heroBannerContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.heroBannerImg {
  width: 100%;
  height: auto;
  position: relative;
}

.heroBannerImg img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
}

.heroBannerCTA {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 30px;
  width: 100%;
}

@media (max-width: 739px) {
  .heroBannerContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1031px) {
  .heroBannerCTA {
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
  }
}

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.titleSection {
  padding: 50px 0 0px 0;
  max-width: 900px;
  margin: auto;
}

.moto {
  font-size: 2em;
  color: var(--title-color);
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 1.5em;
  font-style: italic;
  /* text-transform: uppercase; */
  text-align: center;
  color: var(--title-color);
}

.sectionTitle {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}


/* TAGS SECTION */
.tagsSection {
  padding: 50px 0 0px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tagsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: var(--background-color);
  padding: 20px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  flex-shrink: 0;
}
.tagsImgContainer {
  margin-bottom: 10px;
}
.tagsImgContainer img {
  width: auto;
  height: 120px;
}

.tagsImgContainerLogos {
  margin-bottom: 10px;
  height: 120px;
  width: 125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.platformLogo svg {
  height: 55px;
  margin: auto;
}

.hostingSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 20px 0 60px 0;
}
.hostingBadge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 -10px;
  background-color: var(--background-color);
  padding: 20px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  text-align: center;
  flex-shrink: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.hostingBadge:last-of-type {
  position: relative;
  top: 40px;
  z-index: 1;
}


/* KEY METRICS SECTION */
.keyMetricsSection {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 50px 20px;
}
.keyMetricsSectionContent {
  max-width: 900px;
  margin: auto;
}
.keyMetricsSubsections {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.keyMetricsSubsection {
  flex: 1;
  min-width: 300px;
  width: 300px;
  box-shadow: 0 12px 20px -4px var(--quinternary15), 0 4px 6px -2px var(--quinternary05);
  border-radius: 15px;
  padding: 20px;
}
.keyMetricsNumber {
  font-size: 3em;
  font-weight: bold;
  background-color: var(--quinternary15);
  color: var(--quinternary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
}
.keyMetricsNumberAlt {
  font-size: 3em;
  font-weight: bold;
  background-color: var(--sexternary15);
  color: var(--sexternary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
}

/* ADVANTAGES SECTION */
.advantagesSection {
  color: white;
  padding: 50px 20px;
}
.advantagesSectionContent {
  max-width: 900px;
  margin: auto;
}

/* PRO VS PERSO SECTION */
.proVsPersoSection {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 50px 20px;
}
.proVsPersoSectionContent {
  max-width: 900px;
  margin: auto;
}
.proVsPersoSectionContent p {
  margin-bottom: 10px;
}
.persoTTag {
  background-color: var(--perso-vault);
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.proTTag {
  background-color: var(--pro-vault);
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* SECURITY BY DESIGN SECTION */
.securityByDesignSection {
  background-image: url("../../public/backgrounds/securityBackground.jpg");
  background-size: cover;
  padding: 50px 20px;
  color: white;
}
.securityByDesignSectionContent {
  max-width: 900px;
  margin: auto;
}

.securityArg {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px;
  padding: 20px;
}
.securityArgTitleContainer {
  display: flex;
  align-items: center;
}
.securityByDesignImg {
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
  height: 50px;
  margin-right: 10px;
}

/* CUSTOMER LIST SECTION */
.customerListSection {
  background-color: var(--background-color);
  padding: 50px 0px;
}
.customerListSectionContent {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}


/* ACTION LINK */
.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 30px;
}
.actionLink {
  background: none;
  border: 1px solid var(--primary);
  border-radius: 100px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}
.actionLink:hover {
  text-decoration: none;
  background-color: var(--primary);
  color: white;
}
.actionLinkPrimary {
  border: none;
  background: var(--primary);
  border-radius: 100px;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.actionLinkPrimary:hover {
  background-color: var(--quaternary);
  text-decoration: none;
}
