.blueBackground {
  background-image: linear-gradient(0deg, rgb(0,38,75), rgb(38, 101, 181));
}
.greenBackground {
  background-image: linear-gradient(0deg, rgb(12, 95, 94), rgb(0, 171, 169));
}

.titleSection {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.moto {
  font-size: 2em;
  color: white;
  text-align: center;
}

.subtitle {
  font-size: 1.5em;
  font-style: italic;
  /* text-transform: uppercase; */
  text-align: center;
  color: white;
}

.sectionTitle {
  font-size: 2em;
  margin-bottom: 1em;
}


/* TAGS SECTION */
.tagsSection {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tagsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: white;
  padding: 20px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  flex-shrink: 0;
}
.tagsImgContainer {
  margin-bottom: 10px;
}
.tagsImgContainer img {
  width: auto;
  height: 120px;
}

.tagsImgContainerLogos {
  margin-bottom: 10px;
  height: 120px;
  width: 125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.platformLogo svg {
  height: 55px;
  margin: auto;
}


/* KEY METRICS SECTION */
.keyMetricsSection {
  background-color: white;
  color: rgb(44, 83, 132);
  padding: 50px 20px;
}
.keyMetricsSectionContent {
  max-width: 900px;
  margin: auto;
}
.keyMetricsSubsections {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.keyMetricsSubsection {
  flex: 1;
  min-width: 300px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px;
  padding: 20px;
}
.keyMetricsNumber {
  font-size: 3em;
  font-weight: bold;
  background-color: rgb(246,164,0);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: auto;
}

/* ADVANTAGES SECTION */
.advantagesSection {
  color: white;
  padding: 50px 20px;
}
.advantagesSectionContent {
  max-width: 900px;
  margin: auto;
}

/* PRO VS PERSO SECTION */
.proVsPersoSection {
  background-color: white;
  color: rgb(44, 83, 132);
  padding: 50px 20px;
}
.proVsPersoSectionContent {
  max-width: 900px;
  margin: auto;
}
.proVsPersoSectionContent p {
  margin-bottom: 10px;
}
.persoTTag {
  background-color:rgb(44, 83, 132);
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.proTTag {
  background-color:rgb(246,164,0);
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* SECURITY BY DESIGN SECTION */
.securityByDesignSection {
  background-image: url("../../public/images/securityBackground.jpg");
  background-size: cover;
  padding: 50px 20px;
  color: white;
}
.securityByDesignSectionContent {
  max-width: 900px;
  margin: auto;
}

.securityArg {
  background-color: white;
  color: rgb(44, 83, 132);
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px;
  padding: 20px;
}
.securityArgTitleContainer {
  display: flex;
  align-items: center;
}
.securityByDesignImg {
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
  height: 50px;
  margin-right: 10px;
}

/* CUSTOMER LIST SECTION */
.customerListSection {
  background-color: white;
  padding: 50px 0px;
}
.customerListSectionContent {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
}


/* ACTION LINK */
.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding-bottom: 30px;
}
.actionLinkOnBlue, .actionLinkOnWhite, .actionLinkOnGreen {
  background: none;
  border: none;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.actionLinkOnBlue:hover, .actionLinkOnWhite:hover, .actionLinkOnGreen:hover {
  text-decoration: underline;
}
.actionLinkOnBlue, .actionLinkOnGreen {
  border: 3px solid white;
  color: white;
}
.actionLinkOnWhite {
  border: 3px solid rgb(0, 171, 169);
  color: rgb(44, 83, 132);
}
