.titleSection {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.moto {
  font-size: 3em;
  color: white;
}

.sectionTitle {
  font-size: 3em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/* TAGS SECTION */
.tagsSection {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tagsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: white;
  padding: 20px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  flex-shrink: 0;
}
.tagsImgContainer {
  margin-bottom: 10px;
}
.tagsImgContainer img {
  width: auto;
  height: 120px;
}

.tagsImgContainerLogos {
  margin-bottom: 10px;
  height: 120px;
  width: 125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.platformLogo svg {
  height: 55px;
  margin: auto;
}


/* KEY METRICS SECTION */
.keyMetricsSection {
  background-color: white;
  color: rgb(44, 83, 132);
  padding: 50px 20px;
}
.keyMetricsSectionContent {
  max-width: 900px;
  margin: auto;
}

/* ADVANTAGES SECTION */
.advantagesSection {
  color: white;
  padding: 50px 20px;
}
.advantagesSectionContent {
  max-width: 900px;
  margin: auto;
}
/* PRO VS PERSO SECTION */
.proVsPersoSection {
  background-color: white;
  color: rgb(44, 83, 132);
  padding: 50px 20px;
}
.proVsPersoSectionContent {
  max-width: 900px;
  margin: auto;
}

/* DEMO SECTION */
.demoVideo {
  width: 100%;
  max-width: 800px;
  margin: 30px 0;
}
.demoSection {
  color: white;
  padding: 50px 20px;
}
.demoSectionContent {
  max-width: 900px;
  margin: auto;
}

/* SECURITY BY DESIGN SECTION */
.securityByDesignSection {
  background-color: white;
  color: rgb(44, 83, 132);
  padding: 50px 20px;
}
.securityByDesignSectionContent {
  max-width: 900px;
  margin: auto;
}


/* CUSTOMER LIST SECTION */
.customerListSection {
  color: white;
  padding: 50px 20px;
}
.customerListSectionContent {
  max-width: 900px;
  margin: auto;
}
