
.singleAdvantageCard {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.singleAdvantageCard h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.singleAdvantageCard p {
  margin-bottom: 10px;
}
.advantageText {
  margin-left: 20px;
}
@media (max-width: 500px) {
  .advantageText {
    margin-left: 10px;
  }
}
