.content {
  background-image: linear-gradient(0deg, transparent, var(--quinternary15));
}
.section {
  margin: auto;
  max-width: 900px;
  padding: 20px 20px 50px 20px;

}
.content h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
}

.pricingsContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 5px;
  margin-bottom: 40px;
}

.pricingTitlePerso, .pricingTitlePro {
  font-size: 1.5em;
  font-weight: bold;
}
.pricingTitlePerso {
  background-color: var(--perso-vault);
  color: white;
  border-radius: 100px;
  padding: 4px 18px;
}
.pricingTitlePro {
  background-color:var(--pro-vault);
  color: white;
  padding: 4px 18px;
  border-radius: 100px;
}

.persoPricing, .proPricing {
  min-width: 300px;
  background-color: white;
  color: var(--text-color);
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid var(--grey100);
  box-shadow: 0 12px 20px -4px var(--quinternary15), 0 4px 6px -2px var(--quinternary05);
}

.persoPrice {
  font-size: 3em;
  color: var(--text-color);
  font-weight: 900;
}
.proPrice {
  font-size: 3em;
  font-weight: 900;
  color: var(--text-color);
  margin-bottom: 5px;
}
.proPriceUnit {
  font-size: 0.8rem;
  color: var(--text-color);
}
.selfHostingTitle {
  margin: 20px 0;
  text-align: center;
}
.priceDetail {
  text-align: center;
}
.pricingDetails {
  font-size: small;
  text-align: center;
}

button.proPricingActionButton, .downloadAction {
  background: none;
  border: none;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 100px;
  padding: 10px 20px;
}
button.proPricingActionButton:hover, .downloadAction:hover {
  text-decoration: none;
  background-color: var(--quinternary);
}

button.proPricingActionButtonSecondary {
  background: none;
  background-color: none;
  color: var(--text-color);
  border-radius: 100px;
  border: 1px solid var(--primary);
  text-decoration: none;
  padding: 10px 20px;
}
button.proPricingActionButtonSecondary:hover {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
}

.distribDetails {
  text-align: center;
}

.centerContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
